# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# JSON threshold / roi save data
*.json

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
